<div class='panel panel-danger'>
	<div class='panel-heading'>
		<div class='panel-title'>Create Tweet</div>	
	</div>
	<div class='panel-body'>
			<form role="form" ng-submit='createTweet()' name='createTweetForm'>
				<span class='small text-danger'>{{createTweetError}}</span>
				<div class='form-group'>
					<textarea class='form-control' ng-model='content' placeholder='Enter the Content' row=3 id='content'></textarea>
				</div>
				<span class='small text-success'>{{createTweetSuccess}}</span>
				<div class='form-group'>
					<button type='submit' class='btn btn-danger'>Create Tweet</button>
				</div>
			</form>
	</div>	
</div>