<div class='container-fluid'>
	<!-- <header profile='userProfile.body' notif-count="notifCount"></header> -->
	<div class='row' style='margin:100px auto;'>
		<div class='col-md-3'></div>
		<div class='col-md-6'>
			<tweet-create-form socket="sock"></tweet-create-form>				
		</div>
		<div class='col-md-3'></div>
	</div>
	<div class='row'>
		<div class='col-md-3'></div>
		<div class='col-md-6'>
			<uib-tabset>
				<uib-tab heading="Followers' Tweets" active="tab.active">
					<div class='panel panel-danger'>
						<div class='panel-heading'>
							<div class='panel-title'>
								Followers' Tweets
							</div>
						</div>
					</div>
					<div class='row' ng-repeat="twet in followTweets">
						<div class='col-md-12'>
							<tweet-view tweet='twet'></tweet-view>
						</div>
					</div>
				</uib-tab>
				<uib-tab heading="All Tweets">
					<div class='panel panel-danger'>
						<div class='panel-heading'>
							<div class='panel-title'>
								All Tweets
							</div>
						</div>
					</div>
					<div class='row' ng-repeat="twet in allTweets">
						<div class='col-md-12'>
							<tweet-view tweet="twet"></tweet-view>
						</div>
					</div>
				</uib-tab>
				<uib-tab heading="All Users">
					<div class='panel panel-danger'>
						<div class='panel-heading'>
							<div class='panel-title'>
								All Users
							</div>
						</div>
					</div>
					<div class='row' ng-repeat="profile in profiles.body">
						<div class='col-md-12'>
							<user-profile profile='profile'></user-profile>
						</div>
					</div>					
				</uib-tab>
			</uib-tabset>
		</div>
		<div class='col-md-3'></div>
	</div>
</div>